

/*thicker fonts*/

@font-face {
  font-family: 'AvenirLTStdHeavyObliquethick';
  src: url('avheavy/AvenirLTStd-HeavyOblique.eot');
  src: url('avheavy/AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),
    url('avheavy/AvenirLTStd-HeavyOblique.woff') format('woff'),
    url('avheavy/AvenirLTStd-HeavyOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirLTStdthick';
  src: url('avheavy/AvenirLTStd-Heavy.eot');
  src: url('avheavy/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
    url('avheavy/AvenirLTStd-Heavy.woff') format('woff'),
    url('avheavy/AvenirLTStd-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/*thicker fonts*/


body{
    background: url(../img/clouds.jpg);
    font-family: 'Avenir LT Std 45 Book';
    cursor: url(../img/plane.svg), pointer;

  background: url(../img/clouds.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;



}

#content{
    background: url(../img/clouds.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}







#image{
position:absolute;
}



img#image{
  width: 100px;
  margin-left: -100px;
}

#content,
#header{
  text-align: center;
}



#header h1{
  margin: 0.67em auto;
}


.container{
  /*width: 1476px;*/
  margin: 0 auto;
  position: relative;
}

.col-third{
  width: 33.33%;
  float: left;
}

nav{
    background: #0524d8;
    width: 100%;
    height: 77px;
    margin-top: 10px;
    text-align: center;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    text-transform: lowercase;
    margin-top: 17px;
    padding-left: 0;
}

nav ul li{
  float: left;
  margin: 9px 20px;
}

nav a{
  color: yellow;
    font-size: 24px;
  text-decoration: none;
}

nav a:hover{
  color: red;
}


.social-links {
    float: right;
    display: inline-block;
    list-style-type: none;
    margin-right: 50px;
    position: absolute;
    right: 0;
    bottom: -4px;
}

.social-links li{
  float: left;
}


.social-links img{
  width: 33px;
  height: 33px;
}

.section-slide{
  background:pink;
  height: 100vh;

}

.social-links li{
  font-size: 0;
  color: transparent;
  margin-right: 18px;
}

.social-links li:last-child{
  margin-right: 0;
}



img.logo{
  width: 375px;
}


.contact-items{
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.contact-items-container{
  margin: 0 auto;
  width: 650px;
}


.contact-item{
  background: url(../img/contact-item-bg.svg);
  background-repeat: no-repeat;
  background-position: right center;
  width: 295px;
  color: white;
  /*font-family: 'Avenir LT Std 65 Medium';*/
  margin: 0 auto;
  height: 206px;

  font-family: 'AvenirLTStdthick';
}

.contact-item:first-child{
float: left;
}

.contact-item:last-child{
float: right
}

.contact-item-text{
  width: 200px;
  float: right;
  font-size: 26px;
  text-align: center;
  padding-top: 80px;
}


.schedule-items{
  margin-bottom: 42px;
  text-align: center;
}

.schedule{
    background-image: url(../img/hours-bg.svg);
    background-repeat: no-repeat;
    text-align: center;
    width: 940px;
    height: 185px;
    margin: 0 auto;
    padding: 25px 0 0;
    background-position: center top;
}

.schedule .hours{

  color: #EC1C24;
  font-size: 23px;
  margin-bottom: 26px;
  font-family: 'Avenir LT Std 65 Medium';
  line-height: 32px;



}

.schedule .address{
  font-size: 23px;
  color: #0524D8;
  /*font-family: 'Avenir LT Std 65 Medium Oblique';*/
  font-style:   oblique;
  font-family: 'AvenirLTStdHeavyObliquethick';

  /*font-family: AvenirLTStdthick;*/


}


#owl1 .owl-prev{
  float: left;
  background-image: url(../img/next.svg) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  color: transparent !important;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  width: 108px;
  height: 125px;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -66px;


}

#owl1 .owl-next{
    float: right;
    background-image: url(../img/next.svg) !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    color: transparent !important;
    width: 108px;
    height: 125px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -66px;
}



#owl2 .owl-prev{
  float: left;
  background-image: url(../img/next.svg) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  color: transparent !important;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  width: 108px;
  height: 125px;
  /*margin-top: -580px !important;*/
  z-index: 1000;
  position: absolute;
  left: 0;


    top: 50%;
    margin-top: -65px;


}

#owl2 .owl-next{
    float: right;
    background-image: url(../img/next.svg) !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    color: transparent !important;
    width: 108px;
    height: 125px;
    /*margin-top: -580px !important;*/
    z-index: 1000;
    position: absolute;
    right: 0;

    top: 50%;
    margin-top: -65px;

}




#owl3 .owl-prev{
  float: left;
  background-image: url(../img/next.svg) !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  color: transparent !important;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  width: 54px;
  height: 63px;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -32px;

}

#owl3 .owl-next{
    float: right;
    background-image: url(../img/next.svg) !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    color: transparent !important;
    width: 54px;
    height: 63px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -32px;
}





.owl-item{
  margin-right: 0 !important;
}


#owl1 .item img{
  width: 480px !important;
}


.menu-tabs{
    padding: 0;
    padding-top: 64px;
    margin-top: 0;
    margin-bottom: 4px;
}


.menu-tabs li{
    display: inline-block;
    padding: 0;
    background: #F2C217;
    line-height: 2.1;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    color: white;

    margin-right: -8px;

    margin-left: -8px;

}

.menu-tabs,
.menu-tabs li{
  height: 48px;
}


.menu-tabs li:hover,
.menu-tabs li.active{
  color: #EC297B;
  cursor: pointer;
  /*cursor: url(../img/plane.svg), pointer;*/
}


.menu-tabs li:first-child{
  background: url(../img/left-end.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 48px;
  color: transparent;
  margin-right: -8px;
  padding-left: 0;
  padding-right: 0;
}

.menu-tabs li:last-child{
  background: url(../img/right-end.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 48px;
  background-position: top right;
  color: transparent;
  margin-left: -8px;
  padding-left: 0;
  padding-right: 0;
}

section.menu{
  background: url(../img/trees.jpg);
  padding-bottom: 64px;

  background: url(../img/trees.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.owl-theme .owl-nav {
    margin-top: 0;
}


.panels{
  border: 4px solid #F2C217;
  border-radius: 10px;
  padding: 4px;
}


.panels.one{
  width: 1562px;
  margin: 0 auto;
  border-radius: 36px;
}

.panels.two{
border-radius: 28px;
}

.panels.three{
border-radius: 19px;
}
.panels.inside{
    background-color: #425960;
    border-radius: 11px;
    padding: 32px 0 120px 0;
    text-align: left;
    position: relative;
}


.panels.inside{
  display: none;
}
.panels.inside:first-child{
display: block
}



.menu-footer{
    background-image: url(../img/menu-footer.svg);
    background-repeat: no-repeat;
    width: 364px;
    height: 74px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    color: transparent;
    left: 50%;
    margin-left: -182px;
}


.inside ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 52px;
    margin-right: 26px;
}

.inside ul li{
  font-size: 19px;
  color: #BBBDBF;
  margin-top: 32px;

}


.price{
  float: right;
  font-family: 'Avenir LT Std 65 Medium';
}




.inside ul li:first-child{
    color: #F2C217;
    border-bottom: 3px solid #F2C217;
    padding-bottom: 10px;
    padding-top: 0;
    font-size: 24px;
    margin-bottom: 6px;

}

.meal-group{
  width: 50%;
  margin-top: 20px;
  float: left;
}

.meal-group:first-child{
  /*margin-top: 0;*/
}

.clearfix{
  position: relative;
}


.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.find-us{
  /*background: url(../img/find-us-bg.jpg);*/
  padding-top: 174px;
  padding-bottom: 90px;
  text-align: center;

  background: url(../img/find-us-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}


.find-panel{
  background: #031191;
  width: 680px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.find-header{
    background: url(../img/find-us-header.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -78px;
    color: #F05A28;
    font-size: 29px;
    width: 186px;
    height: 93px;
    left: 50%;
    margin-left: -93px;
    padding-top: 42px;
        font-family: 'Avenir LT Std 65 Medium';
}


.youtube,
.map{
  height: 381px;
  background: black;
}

.youtube{
  margin-bottom: 15px;
}




.embellishment{
    background: url(../img/embellishment.svg);
    height: 172px;
    width: 172px;
    color: transparent;
    position: absolute;
    top: 26px;
    z-index: 100;
    left: 50%;
    margin-left: -86px;
  }




.about-triangle{
    background: url(../img/about-triangle.svg);
    height: 172px;
    width: 172px;
    color: #525252;
    font-size: 29px;
    position: absolute;
    top: -120px;
    z-index: 100;
    left: 50%;
    margin-left: -86px;
    background-repeat: no-repeat;
    padding-top: 70px;
    text-align: center;
  }

.slideshow-big-about{
  position: relative;
}

.slideshow-box-text{
  background: #F2C217;
  min-height: 208px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
}

.slideshow-box-text p{
  color: #EC1C24;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 26px;
  width: 800px;
  text-align: left;
  line-height: 40px;

}

.events-booking{
    background: url(../img/waves.jpg);
    padding-top: 76px;
    padding-bottom: 76px;

  background: url(../img/waves.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;



}


.about{
  display: none;
}


.events-booking{
  text-align: center;
}

.events-dodecagon{
  background: url(../img/dodecagon.svg);
  background-repeat: no-repeat;
  width: 188px;
  height: 80px;
  margin: 0 auto;
  font-size: 29px;
  padding-top: 28px;
  color: #425960;
}


.events-description{
    background: #425960;
    color: #FADC6A;
    font-size: 20px;
    line-height: 32px;
    margin: -2px auto 0;
    padding: 24px;
    width: 800px;
    text-align: left;
}


.events-row{
  width: 92%;
  margin: -12px auto 0;
}






.events-slideshow{
  background: #F7D151;
  width: 48%;
  padding: 12px;
}


.events-row {
    width: 1556px;
    margin: -12px auto 0;
}




.events-form{
  width: 48%;
  float: right;
}


form input[type="text"],
form input[type="email"] {
    height: 30px;
}

form textarea,
form input[type="text"],
form input[type="email"]{
    background: #F7D151;
    color: #434444;
    width: 724px;
    display: block;
    border: 0;
    padding: 8px;
    padding-left: 16px;
    padding-top: 12px;
    margin-bottom: 48px;
    resize: none;
    position: relative;
}

form input[type="submit"]{
    width: 133px;
    height: 133px;
    position: absolute;
    bottom: 0px;
    /*right: -24px;*/
    right: -1px;
    border: 0;
    color: transparent;
    background: transparent;
    background-image: url(../img/send.svg);
    background-repeat: no-repeat;
}


form textarea{
/*height: 200px;*/

height: 59px;
padding-bottom: 150px;

}

button.close-modal,
button.close-modal:focus,
button.close-modal:active,
textarea, input,
textarea:focus,
input:focus {
    outline:none !important;
    font-size: 25px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #434444;
  font-size: 25px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #434444;
  font-size: 25px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #434444;
  font-size: 25px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #434444;
  font-size: 25px;
}


.errors{display: none;}



/*our family*/


.our-family{
  background: #F2C217;
  padding-top: 26px;
  padding-bottom: 26px;
}
.our-family-header{
    background-image: url(../img/our-family.svg);
    background-repeat: no-repeat;
    height: 93px;
    margin: 0 auto 70px;
    width: 122px;
    font-size: 29px;
    padding-top: 66px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
}
.item-single{
  width: 230px;
  height: 230px;
  float: left;
  position: relative;
  background: pink;
  margin-right: 30px;
  margin-bottom: 30px;
  display: none;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}



.item-name {
    background: #425960;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 15px 0;
    position: absolute;
    text-align: left;
    box-sizing: border-box;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}



.item-row{
  width: 1558px;
  margin: 0 auto;
}

.item-description{
  display: none;
}


/*our family*/



/*press*/


.media{
  background: #425960;
  padding-top: 26px;
  padding-bottom: 26px;
}
.media-header{
    background-image: url(../img/press.svg);
    background-repeat: no-repeat;
    height:120px;
    margin: 0 auto 70px;
    width: 148px;
    font-size: 29px;
    padding-top: 88px;
    color: #232323;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.media .article{
  width: 230px;
  height: 230px;
  float: left;
  position: relative;
  background: pink;
  margin-right: 30px;
  margin-bottom: 30px;
  display: none;
}

.media .item-name{
  background: #F2C217;
  bottom: 0;
  color: #232323;
  /*width: 200px;*/
  position: absolute;
  text-align: left;
  box-sizing: border-box;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

}



/*.media .item-name {
    background: #425960;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 15px 0;
    position: absolute;
    text-align: left;
    box-sizing: border-box;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
*/

.media .item-single .item-name,
.our-family .item-single .item-name,
.media .item-single,
.our-family .item-single{
     -webkit-transition: padding 50ms ease-out 0ms;
    -moz-transition: padding 50ms ease-out 0ms;
    -o-transition: padding 50ms ease-out 0ms;
    transition: padding 50ms ease-out 0ms;
}

.media .item-single:hover .item-name{
  padding-bottom:25px;
  /*cursor: pointer;*/
  cursor: url(../img/plane.svg), pointer;
}


.media .item-single:hover,
.our-family .item-single:hover{
    /*cursor: pointer;*/
  cursor: url(../img/plane.svg), pointer;
}

.our-family .item-single:hover .item-name{
  padding-bottom:25px;
  /*cursor: pointer;*/
  cursor: url(../img/plane.svg), pointer;
}




.media-row{
  width: 1558px;
  margin: 0 auto;
}
.expand-button{
    background-image: url(../img/expand-button.svg);
    background-repeat: no-repeat;
    color: transparent;
    width: 182px;
    height: 182px;
    float: left;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -91px;
    cursor: pointer;
}





.expand-button.rotated{

/* Firefox */
-moz-transform: rotate(180deg);
/* WebKit */
-webkit-transform: rotate(180deg);
/* Opera */
-o-transform: rotate(180deg);
/* Standard */
transform: rotate(180deg);
}

.article-description{
  display: none;
}


/*press*/




footer{
  background: #031191;
  height: 166px;
  padding-top: 38px;
  text-align: center;

}


.overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  z-index: 2000;
}


.modal{
    background: #ffffff;
    width: 900px;
    margin: 20px auto;
    /*padding: 30px;*/
    border-radius: 35px;
    border: 20px solid #00AEEF;
    position: relative;
    padding-bottom: 100px;
}




.menu-expand{
  display: none;
}


.height-matter{
  height: inherit;
}


.close-modal{
    background-image: url(../img/close-up-modal.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    color: transparent;
    width: 46px;
    height: 46px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    margin-left: -23px;
}


.family-member{
    margin-top: 0px;
    padding-top: 100px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    height: 429px;
    color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.item-description-modal{
  padding: 25px 25px 0 25px;
}


.item-description-modal h2{
    color: #031191;
    font-size: 27px;
    margin-bottom: 10px;
    font-family: 'Avenir LT Std 65 Medium';
}

.item-description-modal p{
    color: #00AEEF;
    font-size: 20px;
    line-height: 40px;
    margin-top: 0 !important;
    font-family: 'Avenir LT Std 65 Medium';
}


.our-family-header{
  text-align: center;
}

section{
   margin-top: -1px;
}


.menu-tabs li:first-child,
.menu-tabs li:last-child{
pointer-events: none !important;
}

.press-link-text,
.press-link{
  display: none;
}


p.press-link-modal a{
color: blue;
text-decoration: none;
}



#waypoints.fixedwaypoint{
  position: fixed;
  top: -10px;
  z-index: 1000;
}

body.fixedwaypoint{
  margin-top: 87px;
}


.dish-title{
  width: 90%;
}

.announcements{
    width: 100%;
    height: 50px;
    background: #a7ccd7;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #ffa2b3;
    border-bottom: 1px solid #ffa2b3;
    /*position: relative;*/
    position: absolute;
}


.close-announcement{
  position: absolute;
  background: transparent;
  border: 0;
  right: 10px;
  top: 10px;
}


.close-announcement,
.close-announcement:active,
.close-announcement:focus{outline:0;}

.contact-line{
  text-decoration: none;
  color: white;
  font-family: 'Avenir LT Std 55 Roman'
}

.contact-item-text {
    width: 206px;
    float: right;
    font-size: 23px;
    text-align: center;
    padding-top: 93px;
}




.contact-item-text.left{
    text-align: left;
    width: 142px;
    float: right;
    font-size: 26px;
    padding-top: 56px;
    margin-left: 50px;
}


.contact-item-text.left span{
  background-image: url() !important;
  color: transparent !important;
  width: 100px !important;
  bottom: -4px !important;
  position: absolute !important;
  top: 58px;

}


.contact-item-text.left{
    position: relative !important;
    top: 14px;
    left: 0;
}



.contact-item-text.left span:before{
  content: "reserve online";
  color: white !important;
  width: 100px !important;
  font-size: 26px;
}




.contact-item-text a{
    text-decoration: none;
    color: white;
}


.mobile-nav{
  display: none;
}

.desktop-nav{
  display: block;
}


.hide-on-desk{
  display: none;
}


.item-single{
      margin-right: 35px;
}

.item-single:nth-child(6n+6){
  margin-right: 0;

}

.expand-button-container{
    height: 180px;
    position: relative;
    padding-bottom: 20px;
    margin-top: 20px;
}


#owl2 .item{
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 680px;
}



@media only screen and (max-width: 1560px) {

.item-single:nth-child(6n+6){
    margin-right: 35px;
}



  .panels.one {
    width: 90%;
  }

.item-row,.media-row{
  width: 96%;
  margin: 0 auto;
/*  margin-right: 0;*/
}

.expand-button{
  position: inherit;
  right: inherit;
}


.events-row{
  width: 90%;
}

form input[type="text"], form input[type="email"] {
    background: #F7D151;
    color: #434444;
    width: 100%;
    display: block;
    border: 0;
    padding: 8px;
    padding-left: 16px;
    padding-top: 12px;
    margin-bottom: 48px;
    resize: none;
    position: relative;
}


form textarea{
      width: 100%;
}


form input[type="submit"] {
     right: -24px;
  }

}


@media only screen and (max-width: 1280px) {

  .panels.one {
    margin: 40px;
    margin-top: 0;
}


.inside ul {
    margin-left: 22px;
  }

.inside ul li {
    /*margin-top: 6px;*/
}



.meal-group {
    width: 100%;
}


nav{
  height: 70px;
}

nav ul li {
    float: left;
    margin: 9px 10px;
}

nav a{
  font-size: 18px;
}



#owl2 .owl-next,
#owl2 .owl-prev{
    /*margin-top: -440px !important;*/
}


.height-matter{
  height: 77px;
}


}

@media only screen and (max-width: 1080px) {

.modal{
    width: 80%;
}

}

@media only screen and (max-width: 960px) {

footer{
  height: 116px;
}

/*forms*/

.events-slideshow{
    width: 90%;
    float: left;
}

.events-form{
  width: 90%;
  float: left;
}

/*forms*/




.schedule{
  background: #FDE66C;
  border-bottom: 10px solid #47626D;
  height: 145px;
  width: 100%;
}


#owl2 .owl-next,
#owl2 .owl-prev{
    /*margin-top: -340px !important;*/
}

}



@media only screen and (max-width: 860px) {
  .menu-tabs li:first-child,
.menu-tabs li:last-child{
      width: 0;
}
.menu-tabs li:nth-child(2){
    border-top-left-radius: 20px;
}
.menu-tabs li:nth-last-child(2){
    border-top-right-radius: 20px;
}
}



@media only screen and (max-width: 768px) {



.hide-on-desk{display: block;}

.mobile-nav{
  display: none;
}

.desktop-nav{
  display: none;
}



.owl-carousel .owl-stage{
  margin-left: 0 !important;
}






  .family-member {
    background-position: center center;
    height: 200px;
}


.slideshow-box-text{
  height: inherit;
  padding-bottom: 26px;
}

.slideshow-box-text p,
.events-description {
    width: 90%;
}


.schedule .hours,
.schedule .address{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}



nav ul{
  display: none;
}

.item-single {
    width: 46%;
    height: 230px;
    float: left;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    display: none;
    overflow: hidden;
}

.expand-button {
  /*width: 46%;*/
}


/*expand-button members rotated*/

.expand-button.rotated {
bottom: 0;
/*left: 50%;*/
/*margin-left: -74px;*/
/*width: 116px;*/
/*height: 116px;*/
margin-bottom: 20px;
margin-top: 20px;
}


.item-name {
    width: 100%;
}

.item-single:nth-child(even) {
    margin-right: 0px;
}




.modal{
  width: 80%;
}


.panels.one {
    margin: 4px;
    margin-top: 0;
    margin: 0 auto;
}



.social-links {
display: none;
}



.menu-footer {
    background-image: url(../img/menu-footer.svg);
    background-repeat: no-repeat;
    width: 70%;
    height: 42px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    color: transparent;
    left: 50%;
    margin-left: -34%;
      background-position: center;
}



.find-panel {
    background: #031191;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}



.contact-items{
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-item{
  width: 50%;
}



.media .item-name{
  width: 100%;
}


nav{
  /*height: inherit;*/
}

nav ul{
  padding-left: 0;
}

nav ul li{
  float: none;

}

.embellishment{
  display: none;
}

.about-triangle{
  display: none;
}




#owl1 .owl-next,
#owl1 .owl-prev{
    /*margin-top: -230px !important;*/
    width: 40px;
    height: 50px;




margin-top: -25px;


}



#owl2 .owl-next,
#owl2 .owl-prev{
    /*margin-top: -230px !important;*/
    width: 40px;
    height: 50px;
    margin-top: -25px;

}


#owl3 .owl-next,
#owl3 .owl-prev{
    /*margin-top: -230px !important;*/
    width: 40px;
    height: 50px;

margin-top: -25px;

}

.menu-expand{
  display: block;
  color: #FDE66C;
  cursor: pointer;
  cursor: url(../img/plane.svg), pointer;
  padding-top: 22px;
}



.height-matter{
  height: inherit;
  padding-bottom: 12px;

}


.panels.inside {
  padding: 0px 0 90px 0;
}


.family-member{
    background-position: center center;
    height: 200px;
  }


.item-description-modal p {
    color: #00AEEF;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0 !important;
    font-family: 'Avenir LT Std 65 Medium';
}



.item-description-modal h2 {
    color: #031191;
    font-size: 27px;
    margin-bottom: 10px;
     font-family: 'Avenir LT Std 65 Medium';
    margin-top: 0;
}


.modal{
    padding-bottom: 80px;
}



.contact-item-text.left{
    text-align: left;
    width: 46%;
    float: right;
    font-size: 20px;
    margin-left: 90px;
    padding-top: 67px;
  }

.contact-item-text.left{
    width: 122px;
}





.contact-item:first-child{
  float: none;
  margin-top: 10px;
}


.contact-item:last-child{
  float: none;
}

.contact-item {
    width: 240px;
}


.contact-item-text{
    width: 164px;
    float: right;
    font-size: 23px;
    text-align: center;
    padding-top: 91px;
}


}



@media only screen and (max-width: 660px) {

  .family-member {
    background-position: center center;
    height: 100px;
}

  .events-description {
    font-size: 16px;
    line-height: 30px;
    padding-right: 0;
  }
==

  .slideshow-box-text p {
    font-size: 16px;
    line-height: 30px;
}
/*
.contact-item-text {
    width: 68%;
    float: right;
    font-size: 18px;
    text-align: center;
    padding-top: 80px;
}
*/



img.logo {
    width: 60%;
}

#header h1 {
    margin: 0.67em auto 0.5em;
}


.contact-items{
  width: 100%;
}

.contact-item:first-child{
/*float: none;*/
}

.contact-item:last-child{
/*float: none;*/
}


.menu-tabs li {
    padding: 0;
    line-height: 3.2;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    color: white;
    margin-right: -8px;
    margin-left: -8px;
}

.contact-items {
    padding-top: 20px;
    padding-bottom: 20px;
}


#owl2 .owl-next,
#owl2 .owl-prev{
    /*margin-top: -128px !important;*/
}

#owl3 .owl-next,
#owl3 .owl-prev{
/*    margin-top: -136px !important;*/
}


.menu-tabs{
    padding-top: 26px;

}

section.menu {
  padding-bottom: 26px;
}

.find-us {
    padding-top: 102px;
   padding-bottom: 26px;

  }

  .schedule-items {
    margin-bottom: 26px;
  }

.events-booking {
    padding-top: 26px;
    padding-bottom: 26px;
}

.media-header,
.our-family-header {
    margin: 0 auto 26px;
  }

.our-family {
  padding-bottom: 6px;
}


.media {
    padding-bottom: 6px;
}

.contact-items-container{
    width: 100%;
  }


.modal {
    width: 86%;
    margin-top: 6px;
}


.contact-items{
  padding-top: 0;
}





    /*.contact-item-text.left span:before {*/
    /*background-image: url() !important;*/
    /*color: transparent !important;*/
    /*width: 100px !important;*/
    /* font-size: 0; */
      /*font-size: 18px;*/
/*}*/



.contact-item-text.left {
    width: 110px;
}

.contact-item-text.left span{
  top: 65px;
}

.contact-item-text.left span:before {
    font-size: 18px;
}

.contact-item-text {
    font-size: 18px;
  }


.contact-item-text {
    width: 163px;
  }


.item-row, .media-row{
    margin-left: 13px;
}

  form textarea, form input[type="text"], form input[type="email"]{
    background: #F7D151;
    color: #434444;
    width: 96%;
    display: block;
    border: 0;
    padding: 8px;
    padding-left: 16px;
    padding-top: 12px;
    margin-bottom: 48px;
    resize: none;
    position: relative;
    padding-right: 0;
}


form textarea{
height: 200px;
}

.events-form {
    width: 100%;
    float: left;
}
.events-row {
    margin: 0 auto;
}

form input[type="submit"] {
  right: -2px;
}

}



@media only screen and (max-width: 400px) {


}


/*cursors*/




/*sticky*/

#headersticky{
  height: 75px;
  display: block;
  background: green;
  width: 100%;
}
