{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Privacy Policy" %}


{% block content %}

<div style="background: #a3a4a5;height: 84vh;">
	<h1 style="color: white;margin-top:0;padding-top:80px;">Privacy Policy</h1>
	{% for entry in craft.entries.section('privacy').find() %}
		<article>
			{{ entry.body.getPage(1) }}
		</article>

</div>

	{% endfor %}
{% endblock %}
