{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	{% includeCssFile "css/owl.carousel.min.css" %}
	{% includeCssFile "css/owl.theme.default.min.css" %}
	{% includeCssFile "css/owl.theme.green.min.css" %}
	{% includeCssFile "css/normalize.min.css" %}
	{% includeCssFile "css/font.css" %}
	{% includeCssFile "css/style.css" %}

<script>    !function(t,o,c,k){if(!t.tock){var e=t.tock=function(){e.callMethod?    e.callMethod.apply(e,arguments):e.queue.push(arguments)};t._tock||(t._tock=e),    e.push=e,e.loaded=!0,e.version='1.0',e.queue=[];var f=o.createElement(c);f.async=!0,    f.src=k;var g=o.getElementsByTagName(c)[0];g.parentNode.insertBefore(f,g)}}(    window,document,'script','https://www.exploretock.com/tock.js');    tock('init', 'mamnoonrestaurant');    </script>





<style type="text/css">

.schedule-items.top .schedule .hours p{
    width: 90%;
    margin-left: 5.5%;
}

@media only screen and (max-width: 960px) {

.schedule-items.top .schedule .hours p{
    width: 96%;
    margin-left: initial;
    margin: 10px auto 0;
}
}

</style>




</head>
<body id ="waypointschild" class="planecursor">
	<div id="container">
		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
		<footer id="footer">
				<img class="logo" src="img/logo.svg" alt="">


<div style="">



<div class="footer-social">
    <ul class="social-links">


{% for socialItem in craft.entries.section('socialLinks') %}
<li>
<a target="_blank" href="{{ socialItem.linkUrl }}">
twitter
{{ socialItem.title }}
{% for asset in socialItem.image %}
    <img src="{{ asset.url }}">
{% endfor %}
</a>
</li>
{% endfor %}

    </ul>
</div>



</div>

<div style="display:none;">
<button id="dining-widget-app">res</button>
</div>

		</footer>
	</div>
{% includeJsFile "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" %}
{% includeJsFile "js/instafeed.min.js" %}
{% includeJsFile "js/owl.carousel.min.js" %}
{% includeJsFile "js/jquery.sticky.min.js" %}
{% includeJsFile "https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" %}
{% includeJsFile "js/main.js" %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97575832-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="open-table overlay" style="display: none;"><div class="modal"><button class="close-ot-modal">x</button>

<div class="item-description-modal">
<a href="https://www.opentable.com/single.aspx?rid=98197&restref=295054"></a>
<a href="https://www.opentable.com/single.aspx?rid=98197&restref=295054"></a>
<script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=295054&domain=com&type=standard&theme=standard&lang=en&overlay=false&iframe=true'></script>
<script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=295054&domain=com&type=wide&theme=wide&lang=en&overlay=false&iframe=true'></script></div></div></div>

<script src="https://www.sevenrooms.com/reservations/embed.js"></script>


<script>

SevenroomsWidget.init({
      venueId: 'mbarseattle',
      triggerId: 'reservembarbutton',
      type: 'reservations',
      defaultPartySize: 2,
      defaultTime: '7:00PM',
      //allVenues: ['mbarseattle','mamnoon'],
	allVenues: ['mbarseattle'] 
 })

</script>




<!-- <div id="sr-events-root" class="sr-sm sr-dark sr-#d3b316">
  New Year's Eve Party
</div> -->
<script>
  SEVENROOMS_VENUE_ID =  "mbarseattle"
</script>
<script src="https://www.sevenrooms.com/embed.js"></script>

<script>

$('#second-button').click(function(){


  $("#sr-events-root").click();

});

</script>



<script>

	$('#link-1, #link-3').click(function(){
	
		window.open("https://www.sevenrooms.com/events/mbarseattle", "_blank");
	
	
	});


	$('#link-2').click(function(){
	
	window.open("https://mbarseattle.tripleseat.com/party_request/10175", "_blank");


});

	

var myElement = $('<span class="TockWidget-B2">Book now</span>')[0];


var observer = new MutationObserver(function(mutations) {
   if (document.contains(myElement)) {
        console.log("It's in the DOM!");
$(".TockWidget-B2").text('mama family meal');
        observer.disconnect();
    }
});

observer.observe(document, {attributes: false, childList: true, characterData: false, subtree:true});


$('#mamma-dummy-button').click(function(){
$('#Tock_widget_container').click();
});

	</script>
	



</body>
</html>
