{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />


	{% includeCssFile "css/owl.carousel.min.css" %}
	{% includeCssFile "css/owl.theme.default.min.css" %}
	{% includeCssFile "css/owl.theme.green.min.css" %}

	{% includeCssFile "css/normalize.css" %}
	{% includeCssFile "css/font.css" %}
	{% includeCssFile "css/style.css" %}





</head>

<body id ="waypointschild" class="planecursor">

	<div id="container">

		<main id="content" role="main">

			{% block content %}

stuff here

			{% endblock %}
		</main>

		<footer id="footer">


				<img class="logo" src="img/logo.svg" alt="">



		</footer>
	</div>

{% includeJsFile "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" %}
{% includeJsFile "js/instafeed.min.js" %}
{% includeJsFile "js/owl.carousel.min.js" %}
{% includeJsFile "js/jquery.sticky.js" %}




{% includeJsFile "js/main.js" %}






<!-- <script src="https://widgets.resy.com/embed.js"></script> -->
<script>
    // resyWidget.addButton(document.getElementById('resyButton-w6cxoffp'), {"venueId":661,"apiKey":"5Sbh49jsnE05KjGFluXWWCTKXwYvF6qV","replace":true});
</script>






</body>
</html>
