{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<!-- <h1>{{ entry.title }}</h1> -->

	<!-- {{ entry.body }} -->


{% for block in entry.homePageModules %}
    {% if block.type == "hero" %}
<header id="header">
    <div class="container">
    <ul class="social-links">


{% for socialItem in craft.entries.section('socialLinks') %}
<li>
<a target="_blank" href="{{ socialItem.linkUrl }}">
twitter
{{ socialItem.title }}
{% for asset in socialItem.image %}
    <img src="{{ asset.url }}">
{% endfor %}
</a>
</li>
{% endfor %}

    </ul>

    <h1><a href="{{ siteUrl }}">
        <img class="logo" src="img/logo.svg" alt="">
    </a></h1>

</div>
<nav id="waypoints">
    <div class="hide-on-desk">
<div class="menu-expand">
    <img class="menu-expand-image" src="img/menu.svg" alt="menu">
</div>

<ul class="mobile-nav">
{% for topNavigation in craft.entries.section('topNavigation') %}
<li>
<a href="#{{ topNavigation.slug }}">
{{ topNavigation.title }}
</a>
</li>
{% endfor %}




</ul>
</div>




    <ul>


{% for topNavigation in craft.entries.section('topNavigation') %}
<li>
<a href="#{{ topNavigation.slug }}">
{{ topNavigation.title }}
</a>
</li>
{% endfor %}




            </ul>


            </nav>



<style>

  #owl-announcements-mobile .owl-nav,
  #owl-announcements .owl-nav{
    margin-top: -60px;
    z-index: 100;
    position: relative;
}

#owl-announcements-mobile .owl-prev,
#owl-announcements .owl-prev{
      left: 0;
    position: absolute;
}

#owl-announcements-mobile .owl-next,
#owl-announcements .owl-next{
      right: 0;
    position: absolute;
}




</style>


{% if craft.entries.section('timedAnnouncements').ids() | length > 0 %}
<div id="owl-announcements" class="owl-carousel owl-theme" style="height: 140px;background: rgb(255, 204, 62);">



{% for timedAnnouncement in craft.entries.section('timedAnnouncements') %}
<div class="item" style="height: 140px;">
<div class="announcements">

<!-- <button class="close-announcement">X</button> -->

<span class="announcement-header">
    {{ timedAnnouncement.title }}
</span>
{{ timedAnnouncement.announcementText }}
</div>
</div>
{% endfor %}



</div>


{% endif %}








        </header>




<!-- new lines -->



<!-- new lines -->

<!-- schedule items -->
<section class="schedule-items top">
<div class="schedule">
<div class="hours">

{% for topScheduleitems in craft.entries.section('topScheduleModule') %}
{{ topScheduleitems.line1 }}
<!-- <br> -->

</div>
<div class="address">
{{ topScheduleitems.line2 }}
</div>

{% endfor %}

</div>
</section>
<!-- schedule items -->


<!-- end new lines -->

<!-- end new lines -->



<!-- contact items -->
<section class="contact-items"  style="position:relative;">


<div class="new-years-reserve" id="sr-events-root">
  <!-- reserve -->
</div>

<div class="new-years-reserve" id="second-button">
  <!-- reserve -->
</div>



    <div class="contact-items-container">


<!-- <a href="http://www.opentable.com/single.aspx?rid=98197&restref=98197"></a>
<a href="http://www.opentable.com/single.aspx?rid=98197&restref=98197"></a>

<script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=98197&domain=com&type=standard&theme=standard&lang=en&overlay=false&iframe=true'></script>
<script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=98197&domain=com&type=wide&theme=wide&lang=en&overlay=false&iframe=true'></script> -->



        <div class="contact-item" id="reservembarbutton">
<div class="contact-item-text left"><div class="added-item-res">reserve<br>online</div>

<span href="https://resy.com/cities/sea/mbar" id="resyButton-w6cxoffp">_</span>

<!-- <span href="https://resy.com/cities/sea/mbar" id="resyButton-w6cxoffp">_</span> -->


  <!-- <a href="" class="contact-line"> -->
<!-- reserve -->
<!-- <br> -->
<!-- online -->

<!-- </a> -->
</div>
</div>



<div id="open-table-modal" class="contact-item" style="display:none;">
<div class="contact-item-text left">

<span href="https://resy.com/cities/sea/mbar" id="resyButton-w6cxoffp">_</span>

<!-- <span href="https://resy.com/cities/sea/mbar" id="resyButton-w6cxoffp">_</span> -->


  <!-- <a href="" class="contact-line"> -->
<!-- reserve -->
<!-- <br> -->
<!-- online -->

<!-- </a> -->
</div>
</div>
<div class="contact-item">
<div class="contact-item-text for-tel">
<a href="tel:+12064578287">206 457 8287</a>
</div>
</div>
</div>
</section>
<!-- end contact items -->



<!-- contact items -->
<section class="contact-items second-row" style="position:relative;display:none;">

    
    
        <div class="contact-items-container wider">
              
            <div class="contact-item as-circle">
               
            </div>

            
            <div class="contact-item as-circle">
               
                </div>

                <div class="contact-item  as-circle on-the-end">
            
                </div>
    </div>
    </section>
    <!-- end contact items -->






<!-- schedule items -->
<section class="schedule-items">
<div class="schedule">
<div class="hours">

{% for scheduleitems in craft.entries.section('scheduleModule') %}
{{ scheduleitems.line1 }}
<!-- <br> -->
{{ scheduleitems.line2 }}
</div>
<div class="address">
{{ scheduleitems.line3Bottom }}

<!-- <br> -->
<!-- {{ scheduleitems.line3Bottom|slice(0, 10) }} -->

</div>

{% endfor %}

</div>
</section>
<!-- schedule items -->




<!-- mobile announcements -->

{% if craft.entries.section('timedAnnouncements').ids() | length > 0 %}
<div id="owl-announcements-mobile" class="owl-carousel owl-theme" style="height:150px;">



{% for timedAnnouncement in craft.entries.section('timedAnnouncements') %}
<div class="item" style="height:150px;">
<div class="announcements">
<!-- <button class="close-announcement">X</button> -->

<span class="announcement-header">
    {{ timedAnnouncement.title }}
</span>
<p>
{{ timedAnnouncement.announcementText }}
</p>

</div>
</div>
{% endfor %}

</div>

{% endif %}









<!-- mobile announcements -->




{% elseif block.type == "instagramFeed" %}

<!-- instagram feed slideshow -->
<section class="slideshow" style="overflow:hidden;">
    <div id="instafeed" class="owl-carousel owl-theme">

    </div>
</section>
<!-- instagram feed slideshow -->





<!-- privacy policy -->


{% elseif block.type == "privacyPolicy" %}



{% for privacyPolicy in craft.entries.section('privacyPolicy') %}

{{ privacyPolicy.privacyText }}


{% endfor %}

<!-- privacy policy -->




    {% elseif block.type == "menu" %}


<!-- menu tabs -->







<section id="menu" class="menu">






<ul class="menu-tabs">
<!-- repeater here: -->
<li>first</li>
{% for menuType in craft.entries.section('menus') %}
<li>{{ menuType.title }}</li>
{% endfor %}
<li>last</li>
</ul>

<div class="panels one">
<div class="panels two">
<div class="panels three">





<!-- list -->
<!-- potential first loop  -->
{% for menuType in craft.entries.section('menus') %}
<div class="panels inside">
<div class="clearfix  menus-grid">
{% for item in menuType.menuGroup %}
<div class="meal-group menus-grid-item">
<ul>
<li>{{ item.menuGroupTitle }}</li>
{% for dish in item.menuGroupEntry %}
<li><span class="price">{{ dish.price }}</span><div class="dish-title">{{ dish.title }}</div></li>
{% endfor %}
</ul>
</div>
{% endfor %}
</div>
<div class="menu-footer">menu</div>
</div>
{% endfor %}
<!-- potential first loop -->
<!-- list -->

</div>

</div>
</div>
</div>
</div>
</section>
<!-- menu tabs -->



   {% elseif block.type == "findUs" %}

<section id="find-us" class="find-us">

    <div class="find-panel">

<div class="find-header">
    find us!
</div>

<div class="address"><a href="https://goo.gl/maps/gZLnSb6DpV12" target="_blank">
400 Fairview Ave N, Seattle, WA 98109
</a><a></a></div>


<style>

.youtube {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.youtube iframe,
.youtube object,
.youtube embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


</style>


<div class="youtube">
    {{ block.youtubeUrl|raw }}
</div>

<style>
    .map {
        position: relative;
        /*padding-bottom: 75%;*/
        height: 0;
        overflow: hidden;
        height: 288px !important;
    }
    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
/*        height: 381px !important;*/
            height: 450px !important;
    }



    .scrolloff {
        pointer-events: none;
    }


</style>


<div class="map" id="canvas1">
    {{ block.googleMapsUrl|raw }}
</div>

</div>


</section>



<!-- find us -->


    {% elseif block.type == "about" %}


<!-- slideshow big about  -->


<section id="about" class="slideshow-big-about">

<div class="embellishment">
    emb
</div>

<div id="owl2" class="owl-carousel owl-theme">



<!-- list -->
<!-- potential first loop  -->
{% for aboutslides in craft.entries.section('aboutUs') %}

<!--         <div class="item" style="background-image:url({{ asset.getUrl('thumb') }});" data-image="{{ asset.url }}"> -->

{% for asset in aboutslides.image %}
        <div class="item" style="background-image:url(..{{ asset.url }});" data-image="{{ asset.url }}">
{% endfor %}


{% for asset in aboutslides.image %}
<!-- <img src="{{ asset.url }}" alt=""> -->
    {% endfor %}

<div class="about">
    <!-- <p> -->
 {{ aboutslides.aboutSlideParagraph }}
  <!-- </p> -->
</div>
</div>
{% endfor %}
<!-- potential first loop -->
<!-- list -->
</div>


<div class="slideshow-box-text">

<div class="about-triangle">
    about
</div>




</section>


<!-- slideshow big about -->


    {% elseif block.type == "eventsBooking" %}




<!-- events booking -->

<section id="events-booking" class="events-booking">







    <div class="events-dodecagon">
            events booking
    </div>
<div class="events-description">

<div class="events-booking-text-box">

{{ block.eventsbookingDescription }}


</div>
</div>

<div class="events-row">

<div class="clearfix">
<div class="events-form">


<!-- second form -->

    <div id="page-wrapper">

      <div id="form-messages">

<div class="good-message">Thank You! Your message has been sent.</div>

<div class="bad-message">Something went wrong, please try sending the message again or contact us by phone at <a href="tel:+12064578287">206 457 8287</a></div>


      </div>

        <form id="ajax-contact" method="post" action="mailer.php" style="position:relative;">

            <div class="field for-recipientEmail" style="display:none;">
                <!-- <label for="name">Name:</label> -->
        <input placeholder="recipient" type="text" id="recipient" name="recipient" value="{{ block.eventsbookingRecipientEmail }}" required>
            </div>

            <div class="field for-name">
                <!-- <label for="name">Name:</label> -->
                <input placeholder="name" type="text" id="name" name="name" required>
            </div>

            <div class="field for-email">
                <!-- <label for="email">Email:</label> -->
                <input placeholder="email" type="email" id="email" name="email" required>
            </div>


            <div class="field for-subject">
                <!-- <label for="subject">Subject:</label> -->
                <input placeholder="subject" type="text" id="subject" name="subject" required>
            </div>


            <div class="field for-message">
                <!-- <label for="message">Message:</label> -->




                <textarea placeholder="message" id="message" name="message" required></textarea>



            </div>


<div class="field submission">
    <input type="submit" value="Send" style="z-index: 1000;">

</div>

<!--
            <div class="field">
                <button type="submit">Send</button>
            </div> -->
        </form>




<div style="display: none;">
    <h1>here is the space for the next form</h1>


  <form action="https://mamnoonrestaurant.createsend.com/t/i/s/adrkjd/" method="post" id="subForm">

      <input id="fieldName" name="cm-name" type="text" />
      <br />
       <input id="fieldEmail" name="cm-adrkjd-adrkjd" type="email" required /><br />
          <button class="submit" type="submit" value="Subscribe">Subscribe</button>
  </form>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript">
      $(function () {
          $('#subForm').submit(function (e) {
              e.preventDefault();
              $.getJSON(
              this.action + "?callback=?",
              $(this).serialize(),
              function (data) {
                  if (data.Status === 400) {
                      // alert("Error: " + data.Message);
                      // $('#modal .error').slideDown();
                      // $('#modal .error').delay( 800 ).fadeOut();
                  } else { // 200
                      // $('#modal .thankyou').slideDown().delay( 2000 ).fadeOut();
                      // $('#modal').delay( 800 ).fadeOut();
$('#fieldEmail, #fieldName').val('');
                  }
              });
          });
      });


$( "input#name" ).change(function() {

$('input#fieldName').val($(this).val());

});

$( "input#email" ).change(function() {

$('input#fieldEmail').val($(this).val());

});






  </script>



</div>


    </div>



<!-- end second form -->










</div>
<div class="events-slideshow">
<div id="owl3" class="owl-carousel owl-theme">



<!-- list -->
<!-- potential first loop  -->
{% for eventSlides in craft.entries.section('eventsBookingSlides') %}
<div class="item">
{% for asset in eventSlides.image %}
<img src="{{ asset.url }}" alt="">
    {% endfor %}
</div>
{% endfor %}
<!-- potential first loop -->
<!-- list -->
</div></div></div></div>

</section>

<!-- events booking -->




    {% elseif block.type == "ourFamily" %}

<!-- our family -->

<section id="our-family" class="our-family">

<div class="our-family-header">
    our<br>family
</div>

<div class="item-row itemized">
<div class="item-container">

<div class="clearfix">

<!-- list -->
<!-- potential first loop  -->
{% for member in craft.entries.section('ourFamily') %}
    {% for asset in member.image %}


<div class="item-spacer">
<div class="side-spacer">_</div>

<div class="middle-spacer">


        <div class="item-single" style="background-image:url({{ asset.getUrl('thumb') }});" data-image="{{ asset.url }}">
    {% endfor %}
<div class="item-name">
{{ member.title }}
</div>
<div class="item-description">
{{ member.body }}
{{ member.ourFamilyPlainText }}
</div>
</div>
</div>
<div class="side-spacer">_</div>
</div>

{% endfor %}
<!-- potential first loop -->
<!-- list -->
<!-- </div> -->
</div>
</div>
</div>
<div class="expand-button-container">
<div class="expand-button members">
    expand
</div>
</div>
</section>
<!-- our family -->
    {% elseif block.type == "media" %}
<!-- media-->
<section id="media" class="media">
<div class="media-header">
    media
</div>
<div class="item-row itemized">
<div class="item-container">
<div class="clearfix">
<!-- list -->
<!-- potential first loop  -->
{% for mediaitem in craft.entries.section('media') %}
{% for asset in mediaitem.image %}
<div class="item-spacer">
<div class="side-spacer">_</div>
<div class="middle-spacer">
        <div class="item-single" style="background-image:url({{ asset.getUrl('thumb') }});" data-image="{{ asset.url }}">
    {% endfor %}
<div class="item-name">
{{ mediaitem.title }}
</div>
<div class="item-description">
{{ mediaitem.body }}
</div>
<div class="press-link-text">
    {{ mediaitem.pressLinkText }}
</div>
<div class="press-link">
    <a href="{{ mediaitem.pressLinkUrl }}">link</a>
</div></div></div>
    <div class="side-spacer">
        _
    </div>
</div>
{% endfor %}
<!-- potential first loop -->
<!-- list -->
</div></div></div>
<div class="expand-button-container">
<div class="expand-button articles">
    expand
</div>
</div>
</section>
<!-- our family -->
    {% endif %}
{% endfor %}
{% endblock %}
